

/*
$gray-lighter2: rgb(245, 246, 250);
$gray: rgb(223, 230, 233);
*/

/* #f1f2f6 //bg */

/*defaults*/
$border-color-darker2: rgb(223, 230, 233);
$border-color-darker: rgb(230,230,230);
$border-color: rgb(236, 240, 241);
$border-color-lighter: rgb(240,240,240);

/*appMainContainer*/
$appMainContainer-background-color: #F5F6FA;    /*rgb(245, 246, 250)*/


/*mainContainer -> main left view*/
$mainContainer-border-color : $border-color-darker2;
$mainContainer-border-color-lighter : $border-color;



/*appTopMenu*/

$appTopMenu-border-color: rgb(220,220,220);
$appTopMenu-background-color: #FAFAFA;


/*appSideMenu*/
$appSideMenu-background-color:rgb(241, 242, 246);  /*#f1f2f6*/
$appSideMenu-border-color: $border-color-darker;
 