@import '../../../commons/styles/variables';

/*
.field-container{
    display:flex;

    border:1px solid $mainContainer-border-color;
    margin-bottom: 5px;
    .left-content{
        width:110px;
        display: flex;
        >span{
            margin:auto 0px;
        }
        //border:1px solid red;
        height:24px;
    }
    .right-content{
        margin-left:5px;

        flex:1;
        display: flex;
        flex-wrap: wrap;
        .input-content{
            min-width: 160px;
            max-width: 200px;
            //border:1px solid blue;
            flex:1; 
            margin-right:10px;
            input{
                border:0px;
                outline:0px;
                height:24px;
                width:100%;
                
            }
        }
        .validation-content{
            //border:1px solid red;
            flex:1;   
            min-width: 160px;
            display: flex;
            >span{
                margin:auto 0px;
            }
        }
    }


}*/